h1 {
    color: #A7D129;
    font-family: monospace;
    text-align: center;
    font-size: 36px;
}

h3 {
    color: #A7D129;
    font-family: monospace;
    text-align: center;
    font-size: 22px;
}

p {
    color: #A7D129;
    font-family: monospace;
}

p.intro {
    font-size: 14px;
    border-style: ridge;
    border-width: 2px;
    border-color: #616F39;
    margin-left: 200px;
    margin-right: 200px;
    padding: 25px;
}

p.intro_date {
    font-size: 14px;
    background-color: #3E432E;
    margin-left: 200px;
    margin-right: 200px;
}