h1 {
    color: #A7D129;
    font-family: monospace;
    text-align: center;
    font-size: 36px;
}

h2 {
    color: #A7D129;
    font-family: monospace;
    text-align: center;
    font-size: 30px;
    padding: -50px;
}

h3 {
    color: #A7D129;
    font-family: monospace;
    text-align: center;
    font-size: 22px;
}

p {
    color: #A7D129;
    font-family: monospace;
}

hr {
    border-color: #A7D129;
    margin: 5% 5% 0px 5%;
}

.intro {
    font-size: 14px;
    border-style: ridge;
    border-width: 2px;
    border-color: #616F39;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0px 25px 0px 25px;
}

p.intro_date {
    font-size: 14px;
    background-color: #3E432E;
    margin-left: 200px;
    margin-right: 200px;
}

p.header {
    color: #A7D129;
    font-family: monospace;
    text-align: center;
    font-size: 22px;
}

/* ####################-NAV BUTTONS-#################### */

div.top {
    width:100%;
    overflow:auto;
}

div.top div {
    display: flex;
    width:90%;  
    justify-content: center;
    margin: auto;
    float:none;
    /* border-style: ridge;
    border-width: 2px;
    border-color: red; */
}

a.basic_button:link, a.basic_button:visited {
    background-color: #3E432E;
    font-size: 16px;
    color: #A7D129;
    font-family: monospace;
    padding: 14px;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 10%;
}

a.basic_button:hover {
    background-color: black;
    font-size: 16px;
    color: #A7D129;
    font-family: monospace;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    display: block;
    border-style: ridge;
    border-width: 2px;
    border-color: #616F39;
    width: 10%;
}

/* ####################-PROJECTS AREA-#################### */

.projects_area {
    width: 100%;
    overflow: auto;
    /* border-style: ridge;
    border-width: 2px;
    border-color: red; */
}

.projects_area div {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;
    float: none;
    /* border-style: ridge;
    border-width: 2px;
    border-color: red; */
}

.project_button {
    display: inline-block;
    margin: 0px;
    background-color: #3E432E;
    font-size: 16px;
    font-family: monospace;
    color: #A7D129;
    border-style: ridge;
    border-width: 2px;
    border-color: #3E432E;
    width: 150px;
    height: 150px;
    text-align: center;
    text-decoration: none;
    line-height: 150px;
    
}

.project_button:hover {
    background-color: #3E432E;
    font-size: 16px;
    font-family: monospace;
    border-style: ridge;
    border-width: 2px;
    border-color: #A7D129;
    width: 150px;
    height: 150px;
    text-align: center;
    text-decoration: none;
}

/* ####################-CURRENT PROJECTS-#################### */

#comptia_a_plus {
    background-image: url(a_plus.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 148px;
    background-color: #3E432E;
}

#amu {
    background-image: url(current_projects/amu_logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 148px;
    background-color: #3E432E;
}

/* ####################-PREVIOUS PROJECTS-#################### */

#comptia_sec_plus {
    background-image: url(previous_projects/sec_plus_img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 148px;
    background-color: #3E432E;
}

/* ####################-FUTURE PROJECTS-#################### */

#comptia_net_plus {
    background-image: url(future_projects/net_plus_img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 148px;
    background-color: #3E432E;
}

#raspberry-pi {
    background-image: url(future_projects/Raspberry_Pi-Logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 148px;
    background-color: #3E432E;
}
