.standard_body {
    background-color: black;
    font-family: monospace;
    color: #A7D129;
    text-align: center;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 22px;
}

/* ---------- NAVIGATION ---------- */
a.main_nav:link, a.main_nav:visited {
    display: inline;
    color: #A7D129;
    text-decoration: none;
    text-align: center;
    font-size: 22px;
    background-color: #3E432E;
    padding: 16px;
    margin-right: 25px;
}

a.main_nav:hover {
    display: inline;
    color: #A7D129;
    text-decoration: none;
    text-align: center;
    font-size: 22px;
    background-color: black;
    padding: 14px;
    margin-right: 25px;
    border-style: ridge;
    border-width: 2px;
    border-color: #616F39;
}

/* ---------- FOOTER ---------- */
.main_footer {
    font-size: 14px;
    background-color: #3E432E;
    margin-left: 5%;
    margin-right: 5%;
}
